html{

}

body{  
}

.notPadding{
	padding: 0% !important;
}

.notMargin{
	margin: 0% !important;
}

.containerBody{
	background-image: url(../../../images/Login/back1.png);
    contain: size;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; 

 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}

.container{ 
}

Scroll Oculto
::-webkit-scrollbar {
    display: none;
}
