.navbar{
	width: 100%;
	height: 70px; 
	text-align: center; 
	background-color: black; 
}

.titleNav{
	position: relative;
	z-index: 100; 
	color: white;
}

.instpire{
	position: relative; 
    font-size: 45px;
    font-weight: bold;
}
 

.singin{
	position: relative;
	font-size: 15px;
    margin-top: 1.5%;  
    width: 4%;
    margin-left: 5%;
	color: white;
	cursor: pointer;
}

.login{
	position: relative;
	margin-top: 1.5%;
    font-size: 15px;     
    width: 4%;
    margin-left: 1%;
	color: white;
	cursor: pointer;
}

.boxShadow{
	box-shadow:  15px 12px 105px 55px black;
	border-color: black;
}

